Repository Dergi-m/dergim-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: change eslint rules
  .eslintrc.json
Due: prettier --write

fix: fix eslint rule
  .eslintrc.json
  .github/workflows/dependency-review.yml
  .github/workflows/sonarcloud.yml
  src/app/global-error.tsx
  src/modules/site-layout/footer.tsx
  src/modules/site-layout/skip-nav.tsx
  src/modules/theme/tailwind-indicator.tsx
  src/modules/tool-layout/nav-project.tsx
  src/modules/tool-layout/tool-sidebar.tsx
  src/modules/ui/sidebar.tsx
Due: prettier --write, eslint --fix

fix: delete unnecessary storybook plugin from eslint
  .eslintrc.json
Due: prettier --write

chore: trying
  .eslintrc.json
Due: prettier --write

feat: implement project list
  src/app/(site)/layout.tsx
  src/app/api/remove-session-token/route.ts
  src/app/api/set-session-token/route.ts
  src/app/not-found.tsx
  src/app/tool/[[...slug]]/page.tsx
  src/app/tool/layout.tsx
  src/app/tool/page.tsx
  src/app/tool/projects/[project]/page.tsx
  src/app/tool/projects/create/page.tsx
  src/app/tool/projects/page.tsx
  src/contexts/session-context.tsx
  src/lib/schema/project.ts
  src/lib/schema/session-user.ts
  src/middleware.ts
  src/modules/auth-page/login-form.tsx
  src/modules/auth-page/register-form.tsx
  src/modules/error/server-error.tsx
  src/modules/projects/create-project-form.tsx
  src/modules/projects/project-list-loader.tsx
  src/modules/tool-layout/nav-main.tsx
  src/modules/tool-layout/nav-project.tsx
  src/modules/tool-layout/nav-user.tsx
  src/modules/tool-layout/project-switcher.tsx
  src/modules/tool-layout/tool-sidebar.tsx
  src/server/api/routers/page/index.ts
  src/server/api/routers/page/projects/create-project.ts
  src/server/api/routers/page/projects/index.ts
  src/server/api/routers/page/projects/update-project.ts
Due: prettier --write, eslint --fix

feat: implement project features
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/tool/page.tsx
  src/app/tool/projects/[projectId]/page.tsx
  src/app/tool/projects/[project]/page.tsx
  src/hooks/use-toast.ts
  src/lib/fotmatters.ts
  src/lib/schema/project.ts
  src/middleware.ts
  src/modules/auth-page/register-form.tsx
  src/modules/projects/create-project-form.tsx
  src/modules/projects/project-details.tsx
  src/modules/projects/project-list-loader.tsx
  src/modules/ui/badge.tsx
  src/modules/ui/table.tsx
  src/modules/ui/tabs.tsx
  src/modules/ui/toast.tsx
  src/modules/ui/toaster.tsx
  src/server/api/routers/page/projects/accept-invitation.ts
  src/server/api/routers/page/projects/get-project.ts
  src/server/api/routers/page/projects/index.ts
  src/server/api/routers/page/projects/invite-user.ts
  src/server/api/routers/page/projects/reject-invitation.ts
  src/server/api/routers/page/projects/remove-member.ts
Due: prettier --write, eslint --fix

fix: no project fix
  src/modules/projects/project-list-loader.tsx
  src/modules/tool-layout/project-switcher.tsx
  src/modules/tool-layout/tool-sidebar.tsx
  src/server/api/routers/website/authentication/get-session.ts
Due: prettier --write, eslint --fix

fix: delete clg
  src/server/api/routers/website/authentication/get-session.ts
Due: prettier --write, eslint --fix

fix: inital branch fix
  src/app/tool/files/page.tsx
  src/modules/projects/project-details.tsx
  src/server/api/routers/page/projects/invite-user.ts
Due: prettier --write, eslint --fix

feat: implement file actions
  src/app/api/download-file/route.ts
  src/app/api/post-file/route.ts
  src/app/api/update-file/route.ts
  src/app/tool/files/files-container.tsx
  src/app/tool/files/page.tsx
  src/hooks/use-project-files.tsx
  src/lib/project-file/parse-project-file.ts
  src/lib/schema/file-item.ts
  src/modules/projects/project-details.tsx
  src/server/api/routers/page/files/delete-project-file.ts
  src/server/api/routers/page/files/get-project-files.ts
  src/server/api/routers/page/files/index.ts
  src/server/api/routers/page/index.ts
Due: prettier --write, eslint --fix

fix: delete sonner
  src/modules/ui/sonner.tsx
Due: prettier --write, eslint --fix

fix: change file name
  src/app/tool/files/page.tsx
Due: prettier --write, eslint --fix

fix: delete logs
  src/app/api/download-file/route.ts
  src/app/tool/files/page.tsx
  src/hooks/use-project-files.tsx
  src/server/api/routers/page/files/delete-project-file.ts
Due: prettier --write, eslint --fix

fix: fix new file type
  src/app/tool/files/page.tsx
  src/lib/project-file/parse-project-file.ts
  src/lib/schema/file-item.ts
Due: prettier --write, eslint --fix

feat: implement dashboard
  src/app/tool/page.tsx
  src/contexts/session-context.tsx
  src/lib/schema/project.ts
  src/lib/schema/session-user.ts
  src/modules/dashboard/dashboard-content-container.tsx
  src/modules/dashboard/dashboard-summary-contanier.tsx
  src/server/api/routers/page/dashboard/accept-invitation.ts
  src/server/api/routers/page/dashboard/get-user-tasks.ts
  src/server/api/routers/page/dashboard/index.ts
  src/server/api/routers/page/dashboard/reject-invitation.ts
  src/server/api/routers/page/index.ts
  src/server/api/routers/website/authentication/get-session.ts
Due: prettier --write, eslint --fix

chore: .gitignore update
  .gitignore
Due: none

feat: implement boards page
  package.json
  pnpm-lock.yaml
  src/app/org/(features)/boards/page.tsx
  src/app/tool/boards/[projectId]/page.tsx
  src/app/tool/boards/page.tsx
  src/lib/schema/project.ts
  src/lib/schema/task.ts
  src/modules/boards/board.tsx
  src/modules/boards/task-card.tsx
  src/modules/boards/task-creator.tsx
  src/modules/boards/task-editor.tsx
  src/modules/dashboard/dashboard-content-container.tsx
  src/modules/sidebar/log-out-button-content.tsx
  src/modules/tool-layout/nav-user.tsx
  src/modules/ui/select.tsx
  src/server/api/routers/page/boards/create-task.ts
  src/server/api/routers/page/boards/delete-task.ts
  src/server/api/routers/page/boards/get-tasks.ts
  src/server/api/routers/page/boards/index.ts
  src/server/api/routers/page/boards/update-task.ts
  src/server/api/routers/page/index.ts
Due: prettier --write, eslint --fix

fix: delete broken component
  src/modules/boards/board-column.tsx
Due: prettier --write, eslint --fix

fix: delete logs
  src/modules/boards/board.tsx
Due: prettier --write, eslint --fix

fix: fixes
  src/app/api/remove-session-token/route.ts
  src/app/tool/boards/page.tsx
  src/modules/auth-page/login-form.tsx
  src/modules/auth-page/register-form.tsx
  src/server/api/routers/website/authentication/get-session.ts
  src/server/api/routers/website/authentication/login.ts
Due: prettier --write, eslint --fix

fix: make redirect conditional
  src/app/tool/boards/page.tsx
Due: prettier --write, eslint --fix

fix: add something for loading
  src/app/tool/boards/page.tsx
Due: prettier --write, eslint --fix

feat: new feature implemented
  package.json
Due: prettier --write

feat: asd
  package.json
Due: prettier --write

feat: add robots.ts
  src/app/robots.ts
Due: prettier --write, eslint --fix

fix: fix remove member
  src/modules/projects/project-details.tsx
  src/server/api/routers/page/projects/remove-member.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.json)) or (any of: *.{css,scss,md})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
