Repository Dergi-m/dergim-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.json": "prettier --write",
  "*.{css,scss,md}": "prettier --write"
}

chore: add commit message checks
  .husky/commit-msg
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: setup important production and development packages
  .eslintrc.json
  .gitattributes
  .postcssrc.json
  .prettierrc.json
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  components.json
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/lib/utils.ts
  src/lib/variants.ts
  src/modules/typography/heading.tsx
  src/modules/typography/rich-text.tsx
  src/modules/typography/text.tsx
  src/modules/ui/button.tsx
  src/modules/ui/card.tsx
  src/modules/ui/checkbox.tsx
  src/modules/ui/form.tsx
  src/modules/ui/input.tsx
  src/modules/ui/label.tsx
  src/modules/ui/textarea.tsx
  src/server/api/react.tsx
  src/server/api/root.ts
  src/server/api/routers/content/index.ts
  src/server/api/routers/page/index.ts
  src/server/api/routers/website/index.ts
  src/server/api/trpc.ts
  src/server/lib/cookie.ts
  src/server/lib/headers.ts
  src/server/lib/request.ts
  src/server/lib/revalidate.ts
  src/styles/globals.css
Due: prettier --write, eslint --fix

Create dependency-review.yml
  .github/workflows/dependency-review.yml
Due: none

feat: vercel build workflow
  .github/workflows/vercel-merge.yml
  pnpm-lock.yaml
Due: none

fix: fix workflow for vercel deployment
  .github/workflows/vercel-merge.yml
Due: none

feat: add vercel analytics and performance monitor
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: prettier --write, eslint --fix

chore: delete unnecessary files and relocate files correctly
  public/favicon.ico
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/(site)/layout.tsx
  src/app/(site)/page.tsx
Due: prettier --write, eslint --fix

feat: implement layout for error pages
  src/app/error.tsx
  src/app/global-error.tsx
  src/app/not-found.tsx
  src/modules/error/client-error.tsx
  src/modules/error/server-error.tsx
Due: prettier --write, eslint --fix

feat: add size indicator for development
  src/modules/theme/tailwind-indicator.tsx
Due: prettier --write, eslint --fix

feat: add section component
  src/modules/ui/section.tsx
Due: prettier --write, eslint --fix

feat: setup site layout
  src/app/layout.tsx
  src/lib/fonts.ts
  src/modules/providers/trpc-provider.tsx
Due: prettier --write, eslint --fix

feat: add site layout
  package.json
  pnpm-lock.yaml
  src/app/(site)/layout.tsx
  src/app/org/[[...pageId]]/page.tsx
  src/app/org/layout.tsx
  src/modules/site-layout/footer.tsx
  src/modules/site-layout/header.tsx
  src/modules/site-layout/primary-navigation.tsx
  src/modules/site-layout/skip-nav.tsx
  src/modules/ui/navigation-menu.tsx
  src/modules/ui/scroll-area.tsx
  src/modules/ui/sheet.tsx
Due: prettier --write, eslint --fix

feat: theme changes
  src/app/layout.tsx
  src/lib/fonts.ts
  src/styles/globals.css
Due: prettier --write, eslint --fix

feat: tool layout
  package.json
  pnpm-lock.yaml
  src/app/org/[[...pageId]]/page.tsx
  src/app/org/[[...slug]]/page.tsx
  src/app/org/layout.tsx
  src/hooks/use-mobile.ts
  src/modules/tool-layout/tool-sidebar.tsx
  src/modules/ui/separator.tsx
  src/modules/ui/sidebar.tsx
  src/modules/ui/skeleton.tsx
  src/modules/ui/tooltip.tsx
Due: prettier --write, eslint --fix

fix: fix eslint rule
  .eslintrc.json
Due: prettier --write

Create sonarcloud.yml
  .github/workflows/sonarcloud.yml
Due: none

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Due: none

fix: fix wrong import
  src/app/global-error.tsx
Due: prettier --write, eslint --fix

feat: implement header
  public/logo.png
  src/app/(site)/layout.tsx
Due: prettier --write, eslint --fix

feat: logo favicon
  public/favicon.ico
Due: none

Create vercel-pull-request.yml
  .github/workflows/vercel-pull-request.yml
Due: none

Update vercel-pull-request.yml
  .github/workflows/vercel-pull-request.yml
Due: none

feat: implement footer
  src/app/(site)/layout.tsx
  src/modules/site-layout/footer.tsx
  src/styles/globals.css
Due: prettier --write, eslint --fix

feat: implement landing page
  src/app/(site)/layout.tsx
  src/app/(site)/page.tsx
Due: prettier --write, eslint --fix

fix: change wrong components in landing page
  src/app/(site)/page.tsx
Due: prettier --write, eslint --fix

fix: forgot one
  src/app/(site)/page.tsx
Due: prettier --write, eslint --fix

feat: implement tool sidebar
  package.json
  pnpm-lock.yaml
  src/app/org/layout.tsx
  src/lib/schema/organization.ts
  src/lib/schema/user.ts
  src/modules/tool-layout/nav-main.tsx
  src/modules/tool-layout/nav-project.tsx
  src/modules/tool-layout/nav-user.tsx
  src/modules/tool-layout/tool-sidebar.tsx
  src/modules/ui/avatar.tsx
  src/modules/ui/collapsible.tsx
  src/modules/ui/dropdown-menu.tsx
Due: prettier --write, eslint --fix

feat: implement files page
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/org/(features)/files/page.tsx
  src/modules/ui/dialog.tsx
  src/modules/ui/sonner.tsx
  src/modules/ui/table.tsx
Due: prettier --write, eslint --fix

feat: implement boards page
  package.json
  pnpm-lock.yaml
  src/app/org/(features)/boards/page.tsx
  src/lib/schema/board.ts
  src/modules/boards/board-column.tsx
  src/modules/boards/board.tsx
  src/modules/boards/task-card.tsx
  src/modules/ui/badge.tsx
  src/modules/ui/card.tsx
Due: prettier --write, eslint --fix

feat: jest setup
  .github/workflows/playwright.yml
  .gitignore
  jest.config.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/tests/example.spec.ts
  tests-examples/demo-todo-app.spec.ts
Due: prettier --write, eslint --fix

feat: implement backend authorization
  package.json
  pnpm-lock.yaml
  src/app/(site)/page.tsx
  src/lib/schema/authentication-token.ts
  src/middleware.ts
  src/server/lib/backend/auth.ts
  src/server/lib/backend/request.ts
Due: prettier --write, eslint --fix

feat: implement design of auth actions
  .eslintrc.json
  .postcssrc.json
  next.config.mjs
  next.config.ts
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  src/app/(site)/auth/page.tsx
  src/app/(site)/layout.tsx
  src/app/(site)/page.tsx
  src/app/layout.tsx
  src/contexts/session-context.tsx
  src/i18n.ts
  src/modules/auth-page/login-form.tsx
  src/modules/auth-page/register-form.tsx
  src/modules/site-layout/header.tsx
  src/modules/ui/avatar.tsx
  src/modules/ui/card.tsx
  src/modules/ui/checkbox.tsx
  src/modules/ui/dropdown-menu.tsx
  src/modules/ui/form.tsx
  src/modules/ui/input.tsx
  src/modules/ui/label.tsx
  src/modules/ui/navigation-menu.tsx
  src/modules/ui/scroll-area.tsx
  src/modules/ui/separator.tsx
  src/modules/ui/sheet.tsx
  src/modules/ui/skeleton.tsx
  src/modules/ui/textarea.tsx
  src/modules/ui/tooltip.tsx
  src/styles/globals.css
  tailwind.config.ts
  tsconfig.json
Due: prettier --write, eslint --fix

fix: update trpc
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update vercel-merge.yml
  .github/workflows/vercel-merge.yml
Due: none

feat: implement auth flow
  src/app/(site)/auth/page.tsx
  src/app/(site)/layout.tsx
  src/app/api/set-session-token/route.ts
  src/app/api/trpc/[trpc]/route.ts
  src/app/tool/[[...slug]]/page.tsx
  src/app/tool/layout.tsx
  src/contexts/session-context.tsx
  src/lib/schema/auth.ts
  src/middleware.ts
  src/modules/auth-page/auth-forms-container.tsx
  src/modules/auth-page/login-form.tsx
  src/modules/auth-page/register-form.tsx
  src/modules/ui/spin-anim.tsx
  src/server/api/routers/website/authentication/get-session.ts
  src/server/api/routers/website/authentication/index.ts
  src/server/api/routers/website/authentication/login.ts
  src/server/api/routers/website/authentication/register.ts
  src/server/api/routers/website/index.ts
  src/server/lib/backend/auth.ts
  src/server/lib/backend/request.ts
  tsconfig.json
Due: prettier --write, eslint --fix

fix: authentication
  package.json
  pnpm-lock.yaml
  src/app/(site)/auth/page.tsx
  src/app/(site)/layout.tsx
  src/app/api/remove-session-token/route.ts
  src/app/tool/layout.tsx
  src/contexts/session-context.tsx
  src/lib/schema/auth.ts
  src/modules/auth-page/auth-forms-container.tsx
  src/modules/auth-page/login-form.tsx
  src/modules/auth-page/register-form.tsx
  src/modules/sidebar/log-out-button-content.tsx
  src/modules/tool-layout/nav-user.tsx
  src/modules/tool-layout/tool-sidebar.tsx
  src/modules/ui/dialog.tsx
  src/server/api/routers/website/authentication/login.ts
  src/server/api/routers/website/authentication/register.ts
  src/styles/globals.css
Due: prettier --write, eslint --fix

feat: implement get-session relatively
  src/server/api/routers/website/authentication/get-session.ts
Due: prettier --write, eslint --fix
